<header id="section-header" class="header moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-bg-color2_3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="aala" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-content-bg-1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-position="center" data-bg-image="2018/11/mt-1616-content-bg-1.jpg/index.html">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">

                    <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                    <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                                    <div data-widget-id="wid_1541954245_5acihktbs" class="moto-widget moto-widget-image moto-preset-default moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                                                        <a class="moto-widget-image-link moto-link" href="index.html" data-action="page">
                                                            <img data-src="/../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-logo-icon.png" class="moto-widget-image-picture lazyload" data-id="208" title="" alt="">
                                                        </a>
                                                    </div>
                                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_1"><a data-action="page" data-id="1" class="moto-link" href="/">Hookah bar</a></p><p class="moto-text_system_1"><a data-action="page" data-id="1" class="moto-link" href="index.html">&amp; lounge</a></p></div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                    <div data-widget-id="wid_1541953956_rmdxszuw8" class="moto-widget moto-widget-menu moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-widget="menu">
                                        <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                                        <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                                            <li class="moto-widget-menu-item">
                                                <a href="@Url.Action("Index","Home")" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">Home</a>
                                            </li>
                                            <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                <a href="@Url.Action("AboutUs","Content")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">About us<span class="fa moto-widget-menu-link-arrow"></span></a>
                                                <ul class="moto-widget-menu-sublist">
                                                    <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                        <a href="@Url.Action("Menu","Content")" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Menu<span class="fa moto-widget-menu-link-arrow"></span></a>
                                                        <ul class="moto-widget-menu-sublist">
                                                            <li class="moto-widget-menu-item">
                                                                <a href="@Url.Action("HookahBarDrinks","Content")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">Hookah Bar &amp; Drinks</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                        <a href="@Url.Action("Events","Content")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Events<span class="fa moto-widget-menu-link-arrow"></span></a>
                                                        <ul class="moto-widget-menu-sublist">
                                                            <li class="moto-widget-menu-item">
                                                                <a href="@Url.Action("Blog","Content")" data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">Blog</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="moto-widget-menu-item">
                                                        <a href="@Url.Action("ContactUs","Content")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Contacts</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="moto-widget-menu-item">
                                                <a href="@Url.Action("Menu","Content")" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Menu</a>
                                            </li>
                                            <li class="moto-widget-menu-item">
                                                <a href="@Url.Action("Gallery","Content")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Gallery</a>
                                            </li>
                                            <li class="moto-widget-menu-item">
                                                <a href="@Url.Action("Offers","Content")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Offers</a>
                                            </li>
                                            <li class="moto-widget-menu-item">
                                                <a href="@Url.Action("Reservation","Content")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Reservation</a>
                                            </li>
                                            <li class="moto-widget-menu-item">
                                                <a href="@Url.Action("ContactUs","Content")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Contact us</a>
                                            </li>

                                            <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                <a href="@Url.Action("ReservationList","Admin")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Admin<span class="fa moto-widget-menu-link-arrow"></span></a>
                                                <ul class="moto-widget-menu-sublist">
                                                    <li class="moto-widget-menu-item">
                                                        <a href="@Url.Action("ReservationList","Admin")" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Reservation List</a>
                                                    </li>
                                                    <li class="moto-widget-menu-item">
                                                        <a href="@Url.Action("Settings","Admin")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Settings</a>
                                                    </li>
                                                    <li class="moto-widget-menu-item">
                                                        <a href="@Url.Action("GalleryList","Admin")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Gallery List</a>
                                                    </li>
                                                    <li class="moto-widget-menu-item">
                                                        <a href="@Url.Action("OffersList","Admin")" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Offers List</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div><div data-widget-id="wid_1541954790_vkvv06iio" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto moto-visible-on_desktop"
                               data-widget="spacer" data-preset="default" data-spacing="lala" data-visible-on="desktop">
                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                    </div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="laaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h1 class="moto-text_system_5">BEST HOOKAH IN LOS ANGELES</h1></div>
                                    </div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal"><span class="moto-color5_5">Our Hookah Bar is the premier lounge in Hollywood where you can chill in a relaxed atmosphere! We only use the highest quality hookah on the market.</span></p></div>
                                    </div><div data-widget-id="wid_1541954767_qe5xplmx6" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="button">
                                        <a href="@Url.Action("Menu","Content")" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">VIEW MENU</span></a>
                                    </div>
                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-7 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
