@model BestHookah.DAL.RezervTable

<div class="moto-widget moto-widget-block moto-bg-color2_1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style="" data-bg-position="left top">


    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-content-bg-4.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/11/mt-1616-content-bg-4.jpg" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="center">
                                <div data-widget-id="wid_1542017813_wrosokong" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                                     data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
                                    <div class="moto-widget-spacer-block" style="height:300px"></div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                            </div>
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="lala" data-bg-position="left top">
                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                    <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_201">RESERVATION</h2></div>
                                </div>
                                <div class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                    <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                </div>
                                <div class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-preset="default" data-widget="contact_form" data-spacing="aaaa">
                                    <div>

                                        @using (Html.BeginForm("_ReservationPartial", "Admin"))
                                        {
                                            <div class="moto-widget-contact_form-form">
                                                <div class="contact-form-loading"></div>
                                                <div class="moto-widget-contact_form-group">
                                                    @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "moto-widget-contact_form-label" })

                                                    @Html.TextBoxFor(model => model.ClientName, htmlAttributes: new { @class = "moto-widget-contact_form-field moto-widget-contact_form-input", placeholder = "Your name *", required = true, name = "name", id = "field_name" })

                                                    @*<label for="field_name" class="moto-widget-contact_form-label">Your name</label>*@
                                                    @* <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Your name *" ng-blur="validate('name')" required ng-model-options="{ updateOn: 'blur' }" name="name" id="field_name" ng-model="message.name"/>*@
                                                    <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid">Field is required</span>
                                                </div>

                                                <div class="moto-widget-contact_form-group">

                                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "moto-widget-contact_form-label" })

                                                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "moto-widget-contact_form-field moto-widget-contact_form-input", placeholder = "E-mail Address *", required = true, name = "email", id = "field_email" })

                                                    @*<label for="field_email" class="moto-widget-contact_form-label">E-mail Address</label>
                    <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="E-mail Address *" ng-blur="validate('email')" required ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email" ng-model="message.email" />*@
                                                    <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid">Field is required</span>
                                                    <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine">Incorrect email</span>
                                                </div>

                                                <div class="moto-widget-contact_form-group">
                                                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "moto-widget-contact_form-label" })

                                                    @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "moto-widget-contact_form-field moto-widget-contact_form-input", placeholder = "Your Phone ", name = "phone", id = "field_phone" })

                                                    @*<label for="field_phone" class="moto-widget-contact_form-label">Your Phone</label>
                    <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Your Phone " ng-model-options="{ updateOn: 'blur' }" name="phone" id="field_phone" ng-model="message.phone" />*@
                                                    <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.phone.$invalid && !contactForm.phone.$pristine && !contactForm.phone.emailInvalid">Field is required</span>
                                                </div>

                                                <div class="moto-widget-contact_form-group">
                                                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "moto-widget-contact_form-label" })

                                                    @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "moto-widget-contact_form-field moto-widget-contact_form-textarea", rows = 3, placeholder = "Message *", required = true, name = "message", id = "field_message" })

                                                    @*<label for="field_message" class="moto-widget-contact_form-label">Message</label>
                    <textarea class="moto-widget-contact_form-field moto-widget-contact_form-textarea" rows="3" placeholder="Message *" ng-blur="validate('message')" required ng-model-options="{ updateOn: 'blur' }" name="message" id="field_message" ng-model="message.message"></textarea>*@
                                                    <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">Field is required</span>
                                                </div>

                                                <div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="emailSent">
                                                    Your message was sent successfully
                                                </div>
                                                <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError">
                                                    Sorry, your message was not sent
                                                </div>
                                                <div class="moto-widget-contact_form-buttons">


                                                    <div class="moto-widget moto-widget-button moto-preset-default moto-align-left" data-preset="default" data-align="left">
                                                        <button type="submit" class="moto-widget-button-link moto-size-large" data-size="large"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">BOOK A TABLE</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }





                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

