@model BestHookah.DAL.Offer

@{
    ViewBag.Title = "DetailsOffer";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<section id="section-content" class="content page-15 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-bg-color2_3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-content-bg-1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/11/mt-1616-content-bg-1.jpg" data-bg-position="center">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h1 class="moto-text_system_5">OFFER DETAILS</h1></div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
<div class="col-md-offset-3 col-md-6">
    

    <div>
        <h4 class="h3">Offer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FinishDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinishDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditOffer", new { id = Model.OfferId }) |
        @Html.ActionLink("Back to List", "OffersList")
    </p>
</div>
</div>
